/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .banner {
    padding-top: 120px;
    padding-bottom: 70px;
  }
  .custom_navbar_nav {
    text-align: right;
  }
  .custom_navbar .custom_navbar_nav li a {
    font-size: 16px;
    margin-right: 0 !important;
    padding: 5px 0;
  }
  .b_text_wrapper h1 {
    font-size: 40px;
    padding-right: 30%;
  }
  .b_text_wrapper p {
    font-size: 18px;
    margin: 18px 0 18px 0;
  }
  .banner .btn-custom {
    width: 190px;
    height: 45px;
    font-size: 16px;
  }
  /* chef start */
  .chef,
  .popular {
    padding: 55px 0;
  }
  .chef_profile_wrapper .chef_profile_text_wrapper h2 {
    font-size: 30px;
    margin-top: 10px;
  }
  .chef_profile_wrapper .chef_profile_text_wrapper p {
    font-size: 21px;
  }
  .chef_text_wrapper h1 {
    font-size: 40px;
  }
  .chef_text_wrapper p {
    font-size: 20px;
  }
  .middle_child {
    margin: 30px 0;
  }
  /* chef end */
  /* best part start */
  .best {
    padding: 80px 0;
  }
  .best_text_wrapper {
    text-align: center;
    margin-top: 30px;
    padding-top: 0;
  }
  .best_text_wrapper h1 {
    font-size: 47px;
  }
  .best_text_wrapper p {
    font-size: 22px;
    margin: 20px 0 35px;
  }
  .best_text_wrapper .btn-custom {
    width: 180px;
    height: 42px;
    font-size: 18px;
  }
  /* best part end */
  /* big part start */
  .big_text_wrapper {
    padding-top: 0;
    margin-top: 0;
  }
  .big_image_wrapper {
    margin-top: 40px;
    padding-top: 0;
  }
  /* big part end */
  /* stat start */
  .stat {
    padding: 55px 0;
  }
  .stat_text_wrapper h1 {
    font-size: 40px;
  }
  .stat_text_wrapper p {
    font-size: 20px;
  }
  /* stat end */
  /* circle part start */
  .circle_wrapper {
    width: 200px;
    height: 200px;
  }
  .main_circle h2 {
    font-size: 60px;
  }
  .main_circle p {
    font-size: 25px;
  }
  /* circle part end */
  /* popular start */
  .mt_120 {
    margin-top: 10px;
  }
  .popular h1 {
    font-size: 40px;
  }
  .popular_item {
    margin-top: 50px;
  }
  .popular_item h2,
  h3 {
    font-size: 25px;
  }
  .popular_item p {
    font-size: 18px;
    line-height: 25px;
  }
  .popular_item img {
    margin-top: 10px;
  }
  .popular_item .btn-custom {
    width: 150px;
    height: 40px;
    font-size: 16px;
  }
  /* popular end */
  /* barry start */
  .barry {
    padding: 200px 0 350px;
  }
  .barry_overlay_insider {
    top: 160px;
  }
  .barry p {
    font-size: 25px;
  }
  .barry h1 {
    font-size: 35px;
  }
  /* barry end */
  /* update start */
  .update {
    padding: 150px 0 170px;
  }
  .update_wrapper h1 {
    font-size: 40px;
  }
  .update_wrapper p {
    font-size: 23px;
  }
  .btn-update-custom {
    width: 100px;
    padding: 0.75rem 0rem;
    font-size: 15px;
  }
  /* update end */
  /* footer start */
  footer {
    padding: 150px 0 100px;
  }
  .footer_list {
    text-align: center;
    margin-top: 25px;
  }
  footer h2 {
    margin-bottom: 10px;
  }
  .footer_list ul li {
    margin: 2px 0;
  }

  /* footer end */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .banner {
    padding-top: 160px;
    padding-bottom: 80px;
  }
  .custom_navbar_nav {
    text-align: right;
  }
  .custom_navbar .custom_navbar_nav li a {
    font-size: 17px;
    margin-right: 0 !important;
  }
  .b_text_wrapper h1 {
    font-size: 45px;
    padding-right: 30%;
  }
  .b_text_wrapper p {
    font-size: 22px;
    margin: 18px 20% 18px 0;
  }
  .banner .btn-custom {
    width: 195px;
    height: 45px;
    font-size: 18px;
  }
  /* chef start */
  .chef,
  .popular {
    padding: 55px 0;
  }
  .chef_profile_wrapper .chef_profile_text_wrapper h2 {
    font-size: 30px;
  }
  .chef_profile_wrapper .chef_profile_text_wrapper p {
    font-size: 21px;
  }
  .chef_text_wrapper h1 {
    font-size: 45px;
  }
  .chef_text_wrapper p {
    font-size: 21px;
  }
  /* chef end */
  /* best part start */
  .best {
    padding: 80px 0;
  }
  .best_text_wrapper {
    padding-top: 0;
  }
  .best_text_wrapper h1 {
    font-size: 43px;
  }
  .best_text_wrapper p {
    font-size: 20px;
    margin: 20px 0 30px;
  }
  .best_text_wrapper .btn-custom {
    width: 195px;
    height: 45px;
    font-size: 18px;
  }
  /* best part end */
  /* stat start */
  .stat {
    padding: 55px 0;
  }
  .stat_text_wrapper h1 {
    font-size: 45px;
  }
  .stat_text_wrapper p {
    font-size: 21px;
  }
  /* stat end */
  /* circle part start */
  .circle_wrapper {
    width: 200px;
    height: 200px;
  }
  .main_circle h2 {
    font-size: 60px;
  }
  .main_circle p {
    font-size: 25px;
  }
  /* circle part end */
  /* popular start */
  .mt_120 {
    margin-top: 10px;
  }
  .popular h1 {
    font-size: 50px;
  }
  .popular_item {
    margin-top: 50px;
  }
  .popular_item h2,
  h3 {
    font-size: 25px;
  }
  .popular_item p {
    font-size: 18px;
  }
  .popular_item .btn-custom {
    width: 180px;
    height: 42px;
    font-size: 18px;
  }
  /* popular end */
  /* barry start */
  .barry {
    padding: 190px 0 320px;
  }
  .barry_overlay_insider {
    top: 150px;
  }
  .barry p {
    font-size: 25px;
    margin-bottom: 50px;
  }
  .barry h1 {
    font-size: 35px;
  }
  /* barry end */
  /* update start */
  .update_wrapper h1 {
    font-size: 48px;
  }
  .btn-update-custom {
    width: 140px;
  }
  /* update end */
  /* footer start */
  footer {
    padding: 150px 0;
  }
  .footer_list {
    text-align: center;
    margin-top: 30px;
  }
  footer h2 {
    margin-bottom: 20px;
  }
  .footer_list ul li {
    margin: 5px 0;
  }

  /* footer end */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .banner {
    padding-top: 160px;
    padding-bottom: 80px;
  }
  .custom_navbar_nav {
    text-align: right;
  }
  .custom_navbar .custom_navbar_nav li a {
    font-size: 18px;
    margin-right: 0 !important;
  }
  .b_text_wrapper h1 {
    font-size: 50px;
  }
  .b_text_wrapper p {
    font-size: 18px;
    color: #fff;
    margin: 20px 0;
  }
  .banner .btn-custom {
    width: 195px;
    height: 45px;
    font-size: 18px;
  }
  /* chef start */
  .chef,
  .popular {
    padding: 60px 0;
  }
  .chef_profile_wrapper .chef_profile_text_wrapper h2 {
    font-size: 30px;
  }
  .chef_profile_wrapper .chef_profile_text_wrapper p {
    font-size: 21px;
  }
  .chef_text_wrapper h1 {
    font-size: 47px;
  }
  .chef_text_wrapper p {
    font-size: 22px;
  }
  /* chef end */
  /* best part start */
  .best {
    padding: 80px 0;
  }
  .best_text_wrapper {
    padding-top: 0;
  }
  .best_text_wrapper h1 {
    font-size: 47px;
  }
  .best_text_wrapper p {
    font-size: 22px;
  }
  .best_text_wrapper .btn-custom {
    width: 195px;
    height: 45px;
    font-size: 18px;
  }
  /* best part end */
  /* stat start */
  .stat {
    padding: 60px 0;
  }
  .stat_text_wrapper h1 {
    font-size: 47px;
  }
  .stat_text_wrapper p {
    font-size: 22px;
  }
  /* stat end */
  /* circle part start */
  .circle_wrapper {
    width: 200px;
    height: 200px;
  }
  .main_circle h2 {
    font-size: 60px;
  }
  .main_circle p {
    font-size: 25px;
  }
  /* circle part end */
  /* popular start */
  .mt_120 {
    margin-top: 90px;
  }
  .popular h1 {
    font-size: 50px;
  }
  .popular_item h2,
  h3 {
    font-size: 25px;
  }
  .popular_item p {
    font-size: 18px;
  }
  .popular_item .btn-custom {
    width: 180px;
    height: 42px;
    font-size: 18px;
  }
  /* popular end */
  /* barry start */
  .barry {
    padding: 200px 0 350px;
  }
  .barry_overlay_insider {
    top: 160px;
  }
  .barry h1 {
    font-size: 35px;
  }
  .barry p {
    font-size: 25px;
    margin-bottom: 50px;
  }
  /* barry end */
  /* update start */
  .update_wrapper h1 {
    font-size: 48px;
  }
  .btn-update-custom {
    width: 140px;
  }
  /* update end */
  /* footer start */
  footer {
    padding: 150px 0;
  }
  .footer_list {
    text-align: center;
    margin-top: 30px;
  }
  footer h2 {
    margin-bottom: 20px;
  }
  .footer_list ul li {
    margin: 5px 0;
  }

  /* footer end */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .custom_navbar .custom_navbar_nav li a {
    margin: 0 10px;
  }
  .custom_navbar .custom_navbar_nav li:last-child a {
    margin-right: 0;
  }
  .b_text_wrapper h1 {
    font-size: 65px;
  }
  .b_text_wrapper p {
    font-size: 25px;
  }
}
/* X-Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .custom_navbar .custom_navbar_nav li a {
    margin: 0 10px;
  }
  .custom_navbar .custom_navbar_nav li:last-child a {
    margin-right: 0;
  }
  .b_text_wrapper h1 {
    font-size: 65px;
  }
  .b_text_wrapper p {
    font-size: 25px;
  }
}

/* XX-large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
}
