/* common css start */
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  position: relative;
  font-size: 25px;
}
.btn-custom:hover {
  box-shadow: 0 0 0 0.2rem rgb(246 75 60 / 50%);
}
/* common css end */
/* header start */
header {
  /* background-image: linear-gradient(black, rgb(41, 35, 33)); */
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  z-index: 99;
}
.custom_navbar {
}
.custom_navbar .navbar-toggler {
  color: #fff;
  border: 2px solid #fff;
}
.custom_navbar .custom_navbar_nav li a {
  color: #fff !important;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 35px;
}
.custom_navbar .custom_navbar_nav li:last-child a {
  margin-right: 0;
}
.custom_navbar .custom_navbar_nav li a:hover {
  color: #f64b3c !important;
}

/* header end */
/* banner start */
.banner {
  background: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 180px;
  padding-bottom: 100px;
}
.b_text_wrapper h1 {
  font-family: "Archivo", sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: #fff;
}
.b_text_wrapper p {
  font-size: 28px;
  color: #fff;
  margin: 30px 0;
}
.banner .btn-custom {
  width: 250px;
  height: 50px;
  border-radius: 30px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background: #f64b3c;
  border-color: #f64b3c;
  transition: 0.3s;
}
.banner .btn-custom:focus {
  box-shadow: 0 0 0 0.25rem rgba(246, 75, 60, 0.5);
}
/* banner end */
/* chef strat */
.chef {
  background: url(../images/common_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}
.chef_text_wrapper {
  text-align: center;
}
.chef_text_wrapper h1 {
  font-family: "Archivo", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #f64b3c;
}
.chef_text_wrapper p {
  font-size: 25px;
  color: #f64b3c;
  margin: 20px 0;
  line-height: 32px;
}
.chef_profile_wrapper {
  text-align: center;
}
.chef_profile_wrapper .chef_profile_image_wrapper img {
  border-radius: 50%;
}
.chef_profile_wrapper .chef_profile_text_wrapper h2 {
  margin-top: 15px;
  font-family: "Archivo", sans-serif;
  font-size: 33px;
  font-weight: 700;
  color: #f64b3c;
  text-transform: uppercase;
}
.chef_profile_wrapper .chef_profile_text_wrapper p {
  font-weight: 600;
  color: #f64b3c;
  font-size: 22px;
}
/* chef end */
/* best part start */
.best {
  background-color: #f64b3c;
  padding: 100px 0;
}
.best_image_wrapper img {
  border-radius: 50%;
}
.best_text_wrapper {
  padding-top: 45px;
}
.best_text_wrapper h1,
.update_wrapper h1 {
  color: #fff;
  font-family: "Archivo", sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.best_text_wrapper p,
.update_wrapper p {
  color: #fff;
  font-size: 25px;
  line-height: 32px;
  margin: 30px 0 40px;
}
.best_text_wrapper .btn-custom {
  width: 250px;
  height: 50px;
  border-radius: 30px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fff;
  color: #f64b3c;
  border-color: #f64b3c;
}
.best_text_wrapper .btn-custom:hover {
  box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 40%);
}
.best_text_wrapper .btn-custom:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.4);
}
/* best part end */
/* big part start */
.big {
  background: url(../images/big_burger_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.big_text_wrapper h1,
.update_wrapper h1 {
  color: #f64b3c;
}
.big_text_wrapper p,
.update_wrapper p {
  color: #f64b3c;
}
.big_text_wrapper .btn-custom {
  color: #fff;
  background: #f64b3c;
  border-color: #f64b3c;
}
.big_text_wrapper .btn-custom:hover {
  box-shadow: 0 0 0 0.25rem rgba(246, 75, 60, 0.5);
}
.big_text_wrapper .btn-custom:focus {
  box-shadow: 0 0 0 0.25rem rgba(246, 75, 60, 0.5);
}
/* big part end */
/* stat part start */
.stat {
  padding: 80px 0;
  background-color: #f64b3c;
}
.stat_text_wrapper {
  text-align: center;
}
.stat_text_wrapper h1 {
  font-family: "Archivo", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}
.stat_text_wrapper p {
  font-size: 25px;
  color: #fff;
  margin: 20px 0;
  line-height: 32px;
}
.circle_row {
  margin-top: 30px;
}
.circle_wrapper {
  width: 300px;
  height: 300px;
  border: 4px solid #fff;
  border-radius: 50%;
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.main_circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.main_circle h2 {
  font-family: "Archivo", sans-serif;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 0;
}
.main_circle p {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
}
/* stat part end */
/* popular part start */
.popular {
  background: url(../images/popular.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0 100px;
}
.popular h1 {
  text-align: center;
  color: #f64b3c;
  font-family: "Archivo", sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.popular_item {
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 30px 0;
}
.popular_item h2,
h3 {
  color: #f64b3c;
  font-family: "Archivo", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.popular_item img {
}
.popular_item h3 {
  margin-top: 30px;
}
.popular_item p {
  font-size: 20px;
  color: #f64b3c;
  line-height: 30px;
}
.popular_item .btn-custom {
  width: 220px;
  height: 45px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background: #f64b3c;
  border-color: #f64b3c;
}
.popular_item .btn-custom:focus {
  box-shadow: 0 0 0 0.25rem rgba(246, 75, 60, 0.5);
}
.mt_120 {
  margin-top: 80px;
}
/* popular part end */
/* barry start */
.barry {
  background: url(../images/barry.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 150px 0;
  position: relative;
}
.barry_text_wrapper {
  color: #fff;
  text-align: center;
}
.barry_text_wrapper p {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 60px;
}
.barry_text_wrapper h1 {
  font-family: "Calistoga", cursive;
  font-weight: 400;
  font-size: 40px;
}
/* barry end */
/* update part start here */
.update {
  background: url(../images/form_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 150px 0;
}
.update_wrapper {
  text-align: center;
}
.mt-120 {
  margin-top: 50px;
}
.custom-form-control {
  padding: 0.8rem 1.75rem;
  border-radius: 30px 0 0 30px;
}
.custom-form-control:focus {
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
  border-color: #f64b3c;
}
.btn-update-custom {
  padding: 0.75rem 0.75rem;
  color: #fff;
  background-color: #f64b3c;
  border-color: #f64b3c;
  text-transform: uppercase;
  width: 180px;
  margin-left: -25px;
  margin-top: 1px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  border-radius: 0 30px 30px 0;
}
.btn-update-custom:hover {
  color: rgba(255, 255, 255, 0.6);
}
.btn-update-custom:focus {
  box-shadow: 0 0 0 0.25rem rgba(246, 76, 60, 0);
  color: #fff;
}
/* update part end here */
/* footer start */
footer {
  background-color: #222222;
  padding: 100px 0;
}
footer h2 {
  color: #fff;
  font-family: "Archivo", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
footer .title_wrapper p {
  color: #fff;
  font-size: 23px;
  line-height: 2rem;
}
.title_wrapper ul li {
  background: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  transition: 0.5s;
}
.title_wrapper ul li:hover {
  background-color: #f64b3c;
}
.title_wrapper ul li:hover a {
  color: #fff;
}
.title_wrapper ul li a {
  color: #222;
  font-size: 23px;
  transition: 0.5s;
}
footer .title_wrapper ul li a i {
  padding: 10px 15px;
}
.footer_list {
  /* color: #fff; */
}
.footer_list ul li {
  list-style-type: none;
  margin: 6px 0;
}
.footer_list ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}
.footer_list ul li a:hover {
  color: #f64b3c;
}
/* footer end */
